<header class="bg-dark text-white">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Bakery Inventory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/item-management.html">Items</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/stock-entry.html">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/sales-management.html">Sales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tools/reports.html">Reports</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search..." id="globalSearch">
                        <button class="btn btn-outline-light" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header> 